# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JAVAFILE\算法第四次作业贪心算法\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
